#knowledge {
    width: 100%;
    height:100vmin;
    display:flex;
}

#knowledge div {
    width:50%;
}

#knowledge #text-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:40%;
    background-color: #f6f6f6;
}

#knowledge #text-side h2 {
    font-size: 56px;
    font-family: 'Comfortaa';
    color: #595959;
    margin:0px;
}

#knowledge #text-side span {
    font-size: 22px;
    padding:0 10%;
    font-family: 'Comfortaa';
    color: #595959;
    text-align: justify;
}

#knowledge #logos-side {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width:40% !important;
}


#knowledge #logos-side .swiper-wrapper{
    width:100%;
    display: flex;
    flex-direction: row;
}

#knowledge #logos-side img {
    width:80%;
    border-radius:10px;
}

#knowledge .swiper-container {
    width:100%;
    margin:0;
}

#knowledge .swiper-container .swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:30%;
    height: 85% !important;
    margin:10px;
    background-color: #f6f6f6;
    padding:10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

#knowledge .swiper-container .swiper-slide span {
    margin-top: 10px;
}

@media screen and (max-width:768px){
    #knowledge {
        flex-direction: column;
    }

    #knowledge div {
        width: 100% !important;
    }
}